---
import Layout from '../layouts/Layout.astro';
import Deployment from '../sections/Deployment.astro';
import ExerciseCatalog from '../sections/ExerciseCatalog.astro';
import Footer from '../sections/Footer.astro';
import Hero from '../sections/Hero.astro';
import HowItWorks from '../sections/HowItWorks.astro';
import ProductDemo from '../sections/ProductDemo.astro';
---

<Layout>
	<Hero />
	<main>
		<HowItWorks />
		<ProductDemo />
		<ExerciseCatalog />
		<Deployment />
	</main>
	<Footer />
</Layout>
